.freelancer-card {
  background-color: rgb(75, 48, 78);
  color: rgb(254, 190, 126);
  width: 20rem;
  height: 100%;
  margin: 2rem 1rem;
  padding: 0 0 0 0;
  transition: transform 300ms ease 100ms;
  img {
    width: 20rem;
  }

  .overlay {
    padding: 1rem;
    p {
      font-weight: 500;
      margin: 0;
    }
  }
}

.freelancer-card:hover {
  transform: scale(1.1) !important;
}

.freelancers {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.freelancers::-webkit-scrollbar {
  color: green;
}

.step {
  margin: 1%;
}
.job-form {
  margin: 4rem auto;
  width: 50%;
}
