.freelancer-card {
  height: 30vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  // transition: transform 300ms ease 100ms;

  .overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.54);
    margin: auto;
    z-index: 1;
  }

  // .freelancer-card:hover {
  //   transform: scale(1.1) !important;
  // }
}

.freelancers {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.freelancers::-webkit-scrollbar {
  color: green;
}

.step {
  margin: 1%;
}
.job-form {
  margin: 4rem auto;
  width: 50%;
  button {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .job-form {
    width: 80vw;
  }
}
