.freelancer-card {
  flex: 0 0 19.7%;
  text-align: center;
  padding: 10px;
  margin: 2px 2px;
  transition: transform 300ms ease 100ms;
}
.freelancer-card:hover ~ .freelancer-card {
  transform: translateX(15%);
}
.freelancer-card:hover {
  transform: scale(1.1) !important;
}
.step {
  margin: 1%;
}
.job-form {
  margin: 10% auto;
  width: 50%;
}
