@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
* {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
}

// Variables
$footerHeight: 6vh;
$navHeight: 8vh;

// Mixins
@mixin displayFlex {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

input:focus {
  outline: none;
}

nav {
  max-height: $navHeight;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
// height: 100.5vh -$navHeight - $footerHeight;

.MuiFormControl-root {
  width: 100%;
}

.dashboard-right {
  grid-area: dashboard-right;
}
.dashboard-left {
  grid-area: dashboard-left;
}
.divider {
  grid-area: divider;
}
.mychip {
  grid-area: mychip;
}
.allchip {
  grid-area: allchip;
}

.dashboard {
  display: grid;

  padding-top: 20px;
  grid-template-areas:
    "dashboard-left  divider    mychip                allchip                     ."
    "dashboard-left  divider    dashboard-right       dashboard-right      dashboard-right";

  grid-template-rows: auto 1fr;
  grid-template-columns: 1.5fr auto 1fr 1fr 1fr;
}

.dashboard-left {
  // background: lightblue;
  width: 100%;
  min-height: 500px;
}

.dashboard-right {
  background: lightgray;
  width: 100%;
  height: 70vh;
  // width: 70%;
  overflow: auto;
  // min-height: 500px;
}

.my-bookings,
.all-bookings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 380px;
}

.footer-div {
  height: $footerHeight;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  align-items: center;
  font-size: 12px;
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: complement(red);
  }
}
.userprofile-div {
  margin-top: 10px;
  @include displayFlex;
}

.initials {
  text-transform: uppercase;
  border-radius: 50%;
}

.card-location {
  font-size: 19px;
}

.author {
  @include displayFlex;
}

@media screen and (max-width: 991px) {
  $navHeight: 28vh;
  nav {
    max-height: $navHeight;
  }
}

@media screen and (max-width: 960px) {
  // .dashboard {
  //   display: block;
  // }
  .dashboard {
    display: block;
  }
  .dashboard-left {
    // min-height: 300px;
    height: 75vh;
  }

  .divider {
    display: none;
  }
  // footer-div {
  //   display: none;
  // }
}

// @media screen and (max-width: 680px) {

// }
