@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
* {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
}

// Variables
$marginTop: 40px;
$footerHeight: 40px;

// Mixins
@mixin displayFlex {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

input:focus {
  outline: none;
}

.app {
  // width: 100%;
  height: 100%;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.booking-right {
  background: lightgray;
  width: 100%;
  max-height: 100vh;
  overflow: auto;
}

.booking-left {
  margin-top: $marginTop;
  background: lightblue;
  max-height: 100vh;
}

.my-bookings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // overflow: auto;
}

.footer-div {
  height: $footerHeight;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  align-items: center;
  font-size: 12px;
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: complement(red);
  }
}
.userprofile-div {
  margin-top: 10px;
  @include displayFlex;
}

.initials {
  text-transform: uppercase;
  border-radius: 50%;
}

.author {
  @include displayFlex;
}

@media screen and (max-width: 480px) {
  .dashboard {
    display: block;
  }
}
