@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
* {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
  outline: none !important;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.MuiFormControl-root {
  width: 100%;
}

.dashboard-right {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: dashboard-right;
}

.dashboard-left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: dashboard-left;
}

.divider {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: divider;
}

.mychip {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: mychip;
}

.allchip {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: allchip;
}

.dashboard {
  display: -ms-grid;
  display: grid;
  padding-top: 20px;
      grid-template-areas: "dashboard-left  divider    mychip                allchip                     ." "dashboard-left  divider    dashboard-right       dashboard-right      dashboard-right";
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  -ms-grid-columns: 1.5fr auto 1fr 1fr 1fr;
      grid-template-columns: 1.5fr auto 1fr 1fr 1fr;
}

.dashboard-left {
  width: 100%;
  min-height: 500px;
}

.dashboard-right {
  background: lightgray;
  width: 100%;
  height: 70vh;
  overflow: auto;
}

.my-bookings,
.all-bookings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 380px;
}

.footer-div {
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  align-items: center;
  font-size: 12px;
}

.footer-div a {
  color: white;
}

.footer-div a:hover {
  text-decoration: none;
  color: cyan;
}

.userprofile-div {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.initials {
  text-transform: uppercase;
  border-radius: 50%;
}

.card-location {
  font-size: 19px;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 960px) {
  .dashboard {
    display: block;
  }
  .dashboard-left {
    height: 75vh;
  }
  .divider {
    display: none;
  }
}
/*# sourceMappingURL=App.css.map */