@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import "globals";

$md-light-theme: true;
$md-primary-color: $md-light-blue-500;
$md-secondary-color: $md-deep-orange-a-200;

@include react-md-everything;

// Or for a subsection
@include react-md-theme-everything(
  $md-light-blue-500,
  $md-deep-orange-a-200,
  $md-light-theme,
  "custom-theme"
);

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
body {
  color: rgb(75, 48, 78);
}

ul {
  list-style-type: none;
}

.app {
  box-sizing: border-box;
  height: 97vh;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

input {
  font-family: "Nunito", sans-serif;
}
