@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

@import "globals";

@include react-md-everything;

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
body {
  color: rgb(75, 48, 78);
}

ul {
  list-style-type: none;
}

.app {
  box-sizing: border-box;
  height: 97vh;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

input {
  font-family: "Nunito", sans-serif;
}
